<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>

    <!--APP EN VISTA LOGIN-->
    <div id="app" class="w-screen h-screen bg-emerald-200 p-4 flex items-center justify-center flex-col">
        <login-component></login-component>
    </div>
    <!--APP EN VISTA LOGIN-->

    <!--CONJUNTO DE PLANTILLAS DE LOS COMPONENTES-->

    <script type="text/html" id="login-template">

        <title>login</title>

        <div class="flex flex-col gap-4">

            <loader-component v-if="elementos.showLoader" ></loader-component>

            <form  v-if="!elementos.showLoader" class="rounded-md p-4 bg-emerald-500 flex flex-col justify-center gap-4">
    
                <div class="flex flex-col gap-2">
                    <span class="text-emerald-800 text-xl text-center font-bold">¡Bienvenido!</span>
                    <span class="text-emerald-800 text-md font-regular">Para continuar, ingrese sus credenciales...</span>
                </div>
    
                <div class="flex flex-col gap-2">
                    <label for class="text-emerald-800 text-md font-bold">Correo electrónico:</label>
                    <input v-model="usuario.correo" type="email" class="rounded-md p-2 bg-emerald-100 text-emerald-800" placeholder="Ex: name@mail.com" required>
                </div>
    
                <div class="flex flex-col gap-2">
                    <label for class="text-emerald-800 text-md font-bold">Contraseña:</label>
                    <input v-model="usuario.contrasena" type="password" class="rounded-md p-2 bg-emerald-100 text-emerald-800" placeholder="XXXXXXXXXX" required>
                </div>
    
                <div class="flex flex-col gap-2">
                    <button @click.prevent="login" class="rounded-md bg-emerald-800 text-emerald-100 font-bold text-lg p-2">Iniciar Sesión</button>
                </div>
    
            </form>

        </div>



    </script>

    <script type="text/html" id="loader-template">
        <div class="flex items-center justify-center gap-4">
            <div class="w-10 h-10 rounded-full bg-emerald-800 animate-pulse"></div>
            <div class="w-10 h-10 rounded-full bg-emerald-800 animate-pulse"></div>
            <div class="w-10 h-10 rounded-full bg-emerald-800 animate-pulse"></div>
        </div>

        <div class="flex items-center justify-center gap-4">
            <span class="text-emerald-800 text-lg font-bold animate-pulse">Plase wait...</span>
        </div>
    </script>

    <!--CONJUNTO DE PLANTILLAS DE LOS COMPONENTES-->


    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="../js/components.js"></script>
    <script src="../js/app.js"></script>
</body>
</html>